venv_pygame/
venv/
.venv/
env/

**/__pycache__/
*.pyc

*.cache
VOC_PCB/labels.cache

.DS_Store
Thumbs.db

PCB_dataset/

VOC_PCB/Annotations/
VOC_PCB/ImageSets/
VOC_PCB/JPEGImages/
VOC_PCB/labels.cache